
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work sans",sans-serif;
}
.rasmlar{
width: 42px;

}
.picsum-icon{
width: 42px;

}
.container{
    display: grid;
    grid-template-columns: (2, 1fr);
}
.container-title h1 img{
    margin-bottom: -8px;
}








































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































